{% macro render_pagination(pagination) %}
	<ul class="pagination pagination-sm pull-right">
		{% set firstRow = (pagination.page - 1) * pagination.per_page + 1 %}
		{% set lastRow = firstRow + pagination.per_page - 1 %}
		<li>
			<span> {{ firstRow }}-{{ lastRow }} / {{ pagination.total_count }}</span>
		</li>
		{%- for page in pagination.iter_pages() %}
			<li>
			{% if page %}
				{% if page != pagination.page %}
					<a href="{{ url_for_other_page(page) }}">{{ page }}</a>
				{% else %}
					<span><strong>{{ page }}</strong></span>
				{% endif %}
			{% else %}
				<span>…</span>
			{% endif %}
			</li>
		{%- endfor %}
		{% if pagination.has_next %}
			<li><a href="{{ url_for_other_page(pagination.page + 1)}}">Next &raquo;</a></li>
		{% endif %}
	</ul>
{% endmacro %}
